In [1]:
import pandas as pd

### Load and explore data

In [2]:
stock_data = pd.read_csv("../data/stock_data.csv")
stock_data.head()

,name,date,open_price,close_price,high_price,low_price,volume,market
0,AAME,04-Jan-2010,1.3200,1.3200,1.3200,1.3200,1400,NASDAQ
1,AAON,04-Jan-2010,5.8726,5.9259,5.8074,5.9230,72700,NASDAQ
2,AAPL,04-Jan-2010,30.4900,30.6429,30.3400,30.5729,17633100,NASDAQ
3,AAWW,04-Jan-2010,37.9800,38.6600,37.0700,38.2000,607400,NASDAQ
4,AAXJ,04-Jan-2010,57.0000,57.3400,56.7700,57.1700,273800,NASDAQ

### Export Data

In [3]:
# Get latest stock prices for each market

for market_name in stock_data['market'].unique():
    market = stock_data[stock_data['market'] == market_name]
    market = market.groupby('name').last()
    market = market.reset_index()
    market.to_json("../data/{}_market.json".format(market_name), orient='records')
    
    for stock_name in market['name'].unique():
        stock = stock_data[(stock_data['name'] == stock_name) & (stock_data['market'] == market_name)]
        stock.to_csv("../data/{}/{}.csv".format(market_name, stock_name), index=False)